extends layout

append scripts
    script(src="/lib/select2/js/select2.full.js")
    script(src="/javascripts/index.js")

block content
    h1=title

    form
        .form-group
            input#from.dropdown-toggle.form-control.input-lg(type='text', placeholder='Звідки', data-toggle="dropdown")
            input#to.form-control.input-lg(type='text', placeholder='Куди')
            button.btn.btn-lg(type='button') Шукати