extends layout

append scripts
    script(src="/javascripts/index.js")
    script(src="/javascripts/AutoComplete.js")

block content
    h1=title

    form
        .form-group
            input#from.dropdown-toggle.form-control.input-lg(type='text', placeholder='Звідки', data-toggle="dropdown")
            input#to.form-control.input-lg(type='text', placeholder='Куди')
            input#search.btn.btn-lg(type='button' value='Шукати')