extends bootstrap

append styles
    link(rel='stylesheet', href='/style.css')

append scripts
    script(src="/bundle.js")

block body
    +navbar-fixed("Project name","navbar","inverse")
        +nav_item("#","active") Home
        +nav_item("#") About
        +nav_item("#") Contact

    .container
        block content
